# -*- apache -*-
# Copyright (C) 2014, 2015  Gergely Nagy <algernon@madhouse-project.org>
#
# This work is free. You can redistribute it and/or modify it under the
# terms of the Do What The Fuck You Want To Public License, Version 2,
# as published by Sam Hocevar. See the COPYING file for more details.

LoadPlugin tail

<Plugin tail>
    # Failed SSH logins
    <File "/var/log/auth.log">
        Instance "auth"
        <Match>
            Regex "\\<sshd[^:]*: Invalid user [^ ]+ from\\>"
            DSType "CounterInc"
            Type "counter"
            Instance "sshd-invalid_user"
        </Match>
    </File>

    <File "/var/log/auth.log">
        Instance "auth"
        <Match>
            Regex "sshd[^:]*: Accepted (password|publickey) for [^ ]+ from"
            DSType "CounterInc"
            Type "counter"
            Instance "sshd-successful-logins"
        </Match>
    </File>

    # Postfix logs
    <File "/var/log/mail.log">
        Instance "postfix"

        # number of connections
        # (incoming)
        <Match>
            Regex "\\<postfix\\/smtpd\\[[0-9]+\\]: connect from\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-in-open"
        </Match>
        <Match>
            Regex "\\<postfix\\/smtpd\\[[0-9]+\\]: disconnect from\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-in-close"
        </Match>
        <Match>
            Regex "\\<postfix\\/smtpd\\[[0-9]+\\]: lost connection after .* from\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-in-lost"
        </Match>
        <Match>
            Regex "\\<postfix\\/smtpd\\[[0-9]+\\]: timeout after .* from\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-in-timeout"
        </Match>
        <Match>
            Regex "\\<postfix\\/smtpd\\[[0-9]+\\]: setting up TLS connection from\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-in-TLS-setup"
        </Match>
        <Match>
            Regex "\\<postfix\\/smtpd\\[[0-9]+\\]: [A-Za-z]+ TLS connection established from\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-in-TLS-established"
        </Match>
        # (outgoing)
        <Match>
            Regex "\\<postfix\\/smtpd\\[[0-9]+\\]: connect to .* Connection refused\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-out-refused"
        </Match>
        <Match>
            Regex "\\<postfix\\/smtpd\\[[0-9]+\\]: connect to .* Connection timed out\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-out-timeout"
        </Match>
        <Match>
            Regex "\\<postfix\\/smtpd\\[[0-9]+\\]: connect to .* Network is unreachable\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-out-network-unreachable"
        </Match>
        <Match>
            Regex "\\<postfix\\/smtp\\[[0-9]+\\]: setting up TLS connection to\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-out-TLS-setup"
        </Match>
        <Match>
            Regex "\\<postfix\\/smtp\\[[0-9]+\\]: [A-Za-z]+ TLS connection established to\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "connection-out-TLS-established"
        </Match>

        # rejects for incoming E-mails
        <Match>
            Regex "\\<554 5\\.7\\.1\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "rejected"
        </Match>
        <Match>
            Regex "\\<450 4\\.7\\.1\\>.*Helo command rejected: Host not found\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "rejected-host_not_found"
        </Match>
        <Match>
            Regex "\\<450 4\\.7\\.1\\>.*Client host rejected: No DNS entries for your MTA, HELO and Domain\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "rejected-no_dns_entry"
        </Match>
        <Match>
            Regex "\\<450 4\\.7\\.1\\>.*Client host rejected: Mail appeared to be SPAM or forged\\>"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "rejected-spam_or_forged"
        </Match>

        # status codes
        <Match>
            Regex "status=deferred"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "status-deferred"
        </Match>
        <Match>
            Regex "status=forwarded"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "status-forwarded"
        </Match>
        <Match>
            Regex "status=reject"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "status-reject"
        </Match>
        <Match>
            Regex "status=sent"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "status-sent"
        </Match>
        <Match>
            Regex "status=bounced"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "status-bounced"
        </Match>
        <Match>
            Regex "status=SOFTBOUNCE"
            DSType "CounterInc"
            Type "mail_counter"
            Instance "status-softbounce"
        </Match>

        # message size
        <Match>
            Regex "size=([0-9]*)"
            DSType "CounterAdd"
            Type "ipt_bytes"
            Instance "size"
        </Match>

        # delays
        # total time spent in the Postfix queue
        <Match>
            Regex "delay=([\.0-9]*)"
            DSType "GaugeAverage"
            Type "gauge"
            Instance "delay"
        </Match>
        # time spent before the queue manager, including message transmission
        <Match>
            Regex "delays=([\.0-9]*)/[\.0-9]*/[\.0-9]*/[\.0-9]*"
            DSType "GaugeAverage"
            Type "gauge"
            Instance "delay-before_queue_mgr"
        </Match>
        # time spent in the queue manager
        <Match>
            Regex "delays=[\.0-9]*/([\.0-9]*)/[\.0-9]*/[\.0-9]*"
            DSType "GaugeAverage"
            Type "gauge"
            Instance "delay-in_queue_mgr"
        </Match>
        # connection setup time including DNS, HELO and TLS
        <Match>
            Regex "delays=[\.0-9]*/[\.0-9]*/([\.0-9]*)/[\.0-9]*"
            DSType "GaugeAverage"
            Type "gauge"
            Instance "delay-setup_time"
        </Match>
        # message transmission time
        <Match>
            Regex "delays=[\.0-9]*/[\.0-9]*/[\.0-9]*/([\.0-9]*)"
            DSType "GaugeAverage"
            Type "gauge"
            Instance "delay-trans_time"
        </Match>
    </File>
</Plugin>
